@page
@model RazorPageActivity.Pages.AboutUsModel
@{
}
<div class=" text-center">
    <h1 class="display-4"></h1>
    <p>Wipro is cloud and consultency based company.It is a Multi National company</p>
</div>