@page
@model RazorPageActivity.Pages.ContactUsModel
@{
}
<div>
    <h1>
        Contact us for more informartion   <a href="https://www.wipro.com/contact-wipro/">Click me for Conatct</a>
    </h1>
</div>